.wrapper {
  width: 100%;
  border-top: 1px solid #f1f1f1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: calc(3 * var(--space));
  padding-bottom: calc(5 * var(--space));
  padding: calc(4 * var(--space));
}

.columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}

.categories a {
  display: block;
}

@media only screen and (min-width: 600px) {
  .columns {
    flex-flow: row;
  }

  .products {
    display: grid;
    gap: calc(2 * var(--space));
    grid-template-columns: repeat(3, 1fr);
  }
}
