.wrapper {
  width: 100%;
  border-top: 1px solid #f1f1f1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: calc(3 * var(--space));
  padding-bottom: calc(5 * var(--space));
  padding: calc(4 * var(--space));
}

.product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
}

.images {
  width: 50%;
}

.description {
  width: 50%;
}

@media only screen and (min-width: 600px) {
  .product {
    flex-flow: row;
  }
}
