.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-left: calc(1 * var(--space));
}

.drawertoggle {
  position: absolute;
  opacity: 1;
}

#drawer-toggle:checked ~ #mainnav {
  left: 0px;
}
